======================================
Gilded Rose Stories
======================================


# Adding Items to Stock

I need to add Items to our stock. Every item has a name, sell-by date, and quality.
Quality is an integer always >= 0.

# Printing Stock List

I want to print the list of all items in stock.
The print should show today's date, and a list of all items with their name, number of days until sell-by, and their quality.

