======================================
Gilded Rose Stories
======================================


Keeping Stock

We need to keep track of items in stock. Every item has a name, sell by date, and quality.
Every day that passes the quality reduces by one. After the sell by date the quality reduces by two every day.
Once the quality reaches 0 it can never decrease further.

